InformationWarehouseService/.vs/config/applicationhost.config
InformationWarehouseService/
Information.Warehouse.Repository.Tests/bin/
Information.Warehouse.Repository.Tests/obj/
Information.Warehouse.Interactor/obj/
Information.Warehouse.Repository/obj/
Information.Warehouse.Interactor.Tests/bin/
Information.Warehouse.Interactor.Tests/obj/
Information.Store.Service/.vs/
Information.Store.Service/Information.Store.Service/obj/
Information.Store.Service/Information.Store.Interactor.Tests/obj/
Information.Store.Service/Information.Store.Interactor.Tests/bin/
Information.Store.Service/Information.Store.Service/Information.Store.Service.csproj.user
Information.Store.Service/Information.Store.Service/bin/
Information.Store.Service/packages/
Information.Warehouse.Interactor/bin/
Information.Store.Service/Information.Store.Interactor/obj/
Information.Store.Service/Information.Store.Factories/obj/
Information.Store.Service/Information.Store.Factories.Tests/obj/
Information.Store.Service/Information.Store.Factories.Tests/bin/
Information.Store.Service/Information.Store.Factories/bin/
Information.Store.Service/Information.Store.Repository/obj/
Information.Store.Service/Information.Store.Interactor/bin/
Information.Store.Service/Information.Store.Repository.Tests/bin/
Information.Store.Service/Information.Store.Repository.Tests/obj/
Information.Store.Service/Information.Store.Repository/bin/Debug/Information.Store.Repository.dll
Information.Store.Service/Information.Store.Repository/bin/
Information.Store.Service/Information.Store.Shared.Entities/obj/
Information.Store.Service/Information.Store.Shared.Entities/bin/
Information.Warehouse.Repository/bin/Debug/Information.Warehouse.Repository.dll
Information.Warehouse.Repository/bin/Debug/Information.Warehouse.Repository.pdb
Information.Warehouse.Repository/bin/
Information.Satellite.Service/Information.Satellite.Usecase.Tests/obj/
Information.Satellite.Service/Information.Satellite.Usecase.Tests/bin/
Information.Satellite.Service/Information.Satellite.Service/Bin/
Information.Satellite.Service/.vs/
Information.Satellite.Service/packages/
Information.Satellite.Service/Information.Satellite.Usecase/obj/
Information.Satellite.Service/Information.Satellite.Repository/obj/
Information.Satellite.Service/Information.Satellite.Usecase/bin/
