InformationWarehouseService/.vs/config/applicationhost.config
InformationWarehouseService/
Information.Warehouse.Repository.Tests/bin/
Information.Warehouse.Repository.Tests/obj/
Information.Warehouse.Interactor/obj/
Information.Warehouse.Repository/obj/
Information.Warehouse.Interactor.Tests/bin/
Information.Warehouse.Interactor.Tests/obj/
Information.Store.Service/.vs/
Information.Store.Service/Information.Store.Service/obj/
Information.Store.Service/Information.Store.Interactor.Tests/obj/
