InformationWarehouseService/.vs/config/applicationhost.config
InformationWarehouseService/
Information.Warehouse.Repository.Tests/bin/
Information.Warehouse.Repository.Tests/obj/
Information.Warehouse.Interactor/obj/
Information.Warehouse.Repository/obj/
Information.Warehouse.Interactor.Tests/bin/
Information.Warehouse.Interactor.Tests/obj/
